    html {
        height: 100%;
    }
    
    body {
        margin: 0;
        height: inherit;
        background: #000;
        scroll-behavior: smooth;
    }
    
    @font-face {
        src: url('../fonts/Gotham/14078.ttf');
        font-family: 'Gotham';
    }
    
    @font-face {
        src: url('../fonts/lato/9622.ttf');
        font-family: 'Lato';
    }
    
    @font-face {
        src: url('../fonts/lato/Lato-Medium.ttf');
        font-family: 'Lato-Medium';
    }
    
    @font-face {
        src: url('../fonts/icofont/fonts/icofont.ttf');
        font-family: 'Icofont';
    }
    
    @font-face {
        src: url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
        font-family: 'Fontawesome';
    }
    
    .main {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        position: relative;
    }
    
    .slide {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        position: relative;
        display: inline-block;
    }
    
    aside {
        position: fixed;
        display: flex;
        color: white;
        z-index: 9999;
    }
    
    .right {
        right: 6%;
        height: 100%;
        align-items: center;
    }
    
    .right nav ul,
    .left nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .right ul li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-top: 5px;
        transition: .5s ease;
    }
    
    .not-current {
        background: #fff;
        opacity: .4;
    }
    
    .current-page {
        background-color: #f78b1f;
        opacity: 1;
    }
    
    .left {
        height: 100%;
        left: 3%;
        align-items: flex-end;
        justify-content: center;
    }
    
    .left .button {
        width: 30px;
        height: 30px;
        background: #fff;
        color: #000;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto 5px auto;
        cursor: pointer;
    }
    
    .left nav {
        width: 100%;
        bottom: 1%;
    }
    
    .left ul {
        transition: .3s;
    }
    
    .left nav ul li {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        color: rgba(0, 0, 0, .7);
        margin: 0 auto 10px auto;
        font: 100 35px 'Icofont';
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    
    .left nav ul li:hover {
        box-shadow: 0 0 15px rgba(187, 184, 184, 0.671);
    }
    
    .left nav ul li:first-child {
        font-family: 'Fontawesome';
        position: relative;
    }
    
    .left nav ul li:first-child:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        top: 0;
        left: 50%;
        transform: rotate(45deg)
    }
    
    .left nav ul li:last-child {
        letter-spacing: 5px;
        text-indent: 5px;
        font-size: 25px;
    }
    
    .left .timer {
        margin: 0 0 5px -25px;
        width: 110px;
        height: 25px;
        border-radius: 10px;
        background: #fff;
        color: #000;
        text-align: right;
        line-height: 30px;
        font-family: 'Lato';
        font-size: 15px;
        position: relative;
        vertical-align: middle;
        line-height: 25px;
    }
    
    .left .timer::before {
        content: '\eedc';
        position: absolute;
        bottom: 5%;
        left: 3%;
        font: normal 15px 'Icofont';
        line-height: 23px;
    }
    
    .left .timer .sec {
        margin-right: 5px;
    }
    
    .hide-menu {
        opacity: 0;
    }