.main-content3 {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.left-column,
.right-column {
    margin-top: 70px;
}

.main-content3 table tr td span {
    font-size: 36px;
    display: block;
    width: 100%;
}

.main-content3 table tr td:first-child,
.right-column tr td:last-child {
    font: normal 18px 'Lato-Medium';
}

.left-column tr,
.right-column tr {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 12px;
}

.right-column tr {
    justify-content: flex-start;
    text-align: left;
}

.left-column tr td:last-child,
.right-column tr td:first-child,
.center-column .cc1-1 td,
.center-column .cc5 td:last-child {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: #393e67b6;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column tr td:first-child {
    margin: 0 15px 0 0;
}

.left-column tr:not(:nth-child(3)) td:last-child img,
.right-column tr td img {
    width: 80%;
}

.center-column td img {
    width: 70%;
}

.left-column tr:nth-child(3) td:last-child {
    font-size: 18px;
    background: none;
}

.center-column {
    width: 320px;
    margin-top: -45px;
}

.center-column td {
    font-size: 18px;
    width: 50%;
    display: table-cell;
    vertical-align: top;
}

.center-column tr:not(:nth-child(2)) td {
    padding-top: 35px;
    margin-top: 125px;
}

.center-column tr:last-child td:last-child {
    padding: 0;
    margin-top: 25px;
}

.center-column tr td:first-child {
    text-align: right;
}

.center-column tr td:last-child {
    text-align: left;
}

.center-column tr td:last-child span {
    text-align: left;
}

.center-column .cc1 span,
.center-column .cc1-1 span {
    text-align: center;
}

.center-column .cc1 p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    vertical-align: middle;
    text-align: center;
}

.center-column .cc1 p span {
    font-size: 18px;
    display: inline;
}

.center-column .cc1-1 td {
    margin-left: 75%;
    width: 83px;
    height: 83px;
}

.center-column .cc1-1 span {
    font-size: 66px;
    text-indent: 23px;
    margin: 0 auto;
}

.center-column .cc2 td:first-child {
    padding-right: 10px
}

.center-column .cc2 td:last-child,
.center-column .cc3 td {
    padding-left: 10px;
    white-space: nowrap
}

.center-column .cc4 {
    margin: 0 auto;
}

.center-column .cc4 td {
    padding-top: 25px;
}

.center-column .cc4 td p {
    margin: 0;
    padding: 0;
    text-align: center;
    font: normal 30px 'Lato-medium'
}

.right-column {
    position: relative;
}

.right-column tr td:last-child {
    white-space: nowrap;
}

.right-column::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    border-radius: 35px 35px 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1), transparent);
    z-index: -1;
}

.right-column::after {
    content: 'Инсулинорезистентность';
    position: absolute;
    top: 130px;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.right-column tr:nth-child(2) {
    padding-top: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-content3 {
        margin: 150px auto;
    }
    .main-content3 table tr td span {
        font-size: 30px;
    }
    .main-content3 table tr td:first-child,
    .right-column tr td:last-child {
        font: normal 16px 'Lato-Medium';
    }
    .left-column tr:nth-child(3) td:last-child {
        font-size: 16px;
    }
    /* Центр */
    .center-column {
        width: 320px;
    }
    .center-column td {
        font-size: 16px;
    }
    .center-column .cc1 p {
        font-size: 30px;
    }
    .center-column .cc1 p span {
        font-size: 16px;
    }
    .center-column .cc4 td p {
        font: normal 25px 'Lato-medium'
    }
}