    .one {
        background-image: url('../img/background/bg1.gif');
        position: relative;
    }
    
    .one::before {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 50%;
        width: 500px;
        height: 400px;
        margin-left: -250px;
        border-radius: 50%;
        height: 30px;
        background: #f48a21;
        box-shadow: 0 -10px 55px 45px #f48a21;
    }
    
    .one::after {
        content: 'Листайте вниз ˅';
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -60px;
        color: #fff;
        text-align: center;
        width: 120px;
        font: normal 15px 'Gotham';
    }
    
    .hide-down::before,
    .hide-down::after {
        opacity: 0;
    }
    
    .header {
        margin: 10% 0 0 5%;
    }
    
    .header h1 {
        margin: 0;
        padding: 0;
        width: 80%;
        font: normal 4vw 'Gotham';
        color: #0d319c;
    }
    
    .illness {
        color: #0d319c;
        font: normal 1.99vw 'Lato';
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    .circles-box {
        width: 4.9vw;
        height: 4.9vw;
        position: absolute;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .circles-box .circle {
        width: 100%;
        height: 100%;
        border: inherit;
        background: #d08848;
        border: 3px solid #c65d53;
        transform: scale(0);
        border-radius: inherit;
        position: absolute;
        box-sizing: border-box;
        animation: circleAnim 1.5s linear infinite;
    }
    
    .circles-box .circle:nth-child(2) {
        animation-delay: 1s;
    }
    
    .circles-box .circle:nth-child(3) {
        animation-delay: 2s;
    }
    
    @keyframes circleAnim {
        to {
            transform: scale(1);
            opacity: 0;
        }
    }
    
    .illness:nth-child(2) {
        top: 33%;
        left: 60%;
    }
    
    .illness:nth-child(2) .circles-box {
        top: 15%;
        left: -33%;
    }
    
    .illness:nth-child(3) {
        top: 51%;
        left: 21%;
    }
    
    .illness:nth-child(3) .circles-box {
        width: 2.93vw;
        height: 2.93vw;
        top: 130%;
        left: 35%;
    }
    
    .illness:nth-child(4) {
        top: 65%;
        left: 35%;
    }
    
    .illness:nth-child(4) .circles-box {
        width: 1.96vw;
        height: 1.96vw;
        top: 145%;
        left: 69%;
    }
    
    .illness:last-child {
        top: 63%;
        left: 77%;
    }
    
    .illness:last-child .circles-box {
        width: 1.96vw;
        height: 1.96vw;
        top: 140%;
        left: 29%;
    }
    
    @media screen and (min-width: 320px) and (max-width: 375px) {
        .header {
            margin: 35% 0 0 10%;
        }
        .illness {
            color: #0d319c;
            font: normal 1.99vw 'Lato';
            position: absolute;
        }
        .illness:nth-child(2) {
            top: 35.5%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 54.5%;
            left: 21.4%;
        }
        .illness:nth-child(4) {
            top: 69%;
            left: 35%;
        }
        .illness:last-child {
            top: 66%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 375px) and (min-height: 425px) {
        .header {
            margin: 55% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 36%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 55%;
            left: 21.4%;
        }
        .illness:nth-child(4) {
            top: 69%;
            left: 34.6%;
        }
        .illness:last-child {
            top: 66.3%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 414px) and (max-width: 768px) {
        .header {
            margin: 50% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 36%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 55%;
            left: 21.4%;
        }
        .illness:nth-child(4) {
            top: 69%;
            left: 34.6%;
        }
        .illness:last-child {
            top: 66.3%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .header {
            margin: 30% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 35%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 54%;
            left: 21.4%;
        }
        .illness:nth-child(4) {
            top: 68%;
            left: 34.6%;
        }
        .illness:last-child {
            top: 65.3%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 1024px) and (max-width:1024px) {
        .header {
            margin: 10% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 34%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 51.7%;
            left: 21.2%;
        }
        .illness:nth-child(4) {
            top: 65%;
            left: 34.9%;
        }
        .illness:last-child {
            top: 63%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 1024px) and (min-height: 1366px) {
        .header {
            margin: 35% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 35%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 54%;
            left: 21.2%;
        }
        .illness:nth-child(4) {
            top: 67%;
            left: 34.9%;
        }
        .illness:last-child {
            top: 65%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1920px) {
        .header {
            margin: 5% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 31%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 46.5%;
            left: 21.2%;
        }
        .illness:nth-child(4) {
            top: 60%;
            left: 34.9%;
        }
        .illness:last-child {
            top: 58%;
            left: 77.3%;
        }
    }
    
    @media screen and (min-width: 1920px) and (max-width: 2048px) {
        .header {
            margin: 10% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 32%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 50%;
            left: 21.2%;
        }
        .illness:nth-child(4) {
            top: 64%;
            left: 34.9%;
        }
        .illness:last-child {
            top: 62%;
            left: 77%;
        }
    }
    
    @media screen and (min-width: 2048px) and (max-width: 2560px) {
        .header {
            margin: 10% 0 0 5%;
        }
        .illness:nth-child(2) {
            top: 33%;
            left: 60%;
        }
        .illness:nth-child(3) {
            top: 51%;
            left: 21.2%;
        }
        .illness:nth-child(4) {
            top: 65%;
            left: 34.9%;
        }
        .illness:last-child {
            top: 63%;
            left: 77%;
        }
    }